<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Update client</title>
	</head>
	<body>
		<form th:object="${client}" th:acction="@{/update/{id}(id = client.id)}" method="post">
			<label>Id: </label>
			<input name="id" th:field="*{id}" />
			<br>
			<label>Dni: </label>
			<input type="number" name="dni" th:field="*{dni}" />
			<br>
			<label>Name: </label>
			<input type="text" name="name" th:field="*{name}"/>
			<br>
			<label>Address: </label>
			<input type="text" name="address" th:field="*{address}"/>
			<br>
			<label>Email: </label>
			<input type="email" name="email" th:field="*{email}"/>
			<br>
			<button type="submit">
				Update client
			</button>
			<br>
		</form>
		<a th:href="@{/clients}">Go back</a>
	</body>
</html>